<div class="main_container_rapport" data-controller="count-up-animation">
  <h1 class="text-center"><%= t("report.h2") %></h2>
  <p class="text-center"><%= t("report.p1") %> <%= Date.today.year %></p>
  <div class="mt-3 d-flex justify-content-around">
    <%# <p class="numbers">Total users<br>
      <strong data-count-up-animation-target="number" data-target="<%= @total_users ">0</strong>
    </p> %>
    <p class="numbers"><%= t("report.p2") %><br>
      <strong data-count-up-animation-target="number" data-target="<%= @total_applications %>">0</strong>
    </p>
  </div>
  <div class="mt-3 d-flex justify-content-around">
    <p class="numbers"><%= t("report.p3") %><br>
      <strong data-count-up-animation-target="number" data-target="<%= @min_age %>">0</strong>
    </p>
    <p class="numbers"><%= t("report.p4") %><br>
      <strong data-count-up-animation-target="number" data-target="<%= @max_age %>">0</strong>
    </p>
    <p class="numbers"><%= t("report.p5") %><br>
      <strong data-count-up-animation-target="number" data-target="<%= @avg_age %>">0</strong>
    </p>
  </div>
  <div class="mt-3 d-flex justify-content-around">
    <p class="numbers"><%= t("report.p6") %><br>
      <strong
        data-count-up-animation-target="number"
        data-target="<%= @min_height %>"
        data-decimals="1">0</strong> m
    </p>

    <p class="numbers"><%= t("report.p7") %><br>
      <strong
        data-count-up-animation-target="number"
        data-target="<%= @max_height %>"
        data-decimals="1">0</strong> m
    </p>

    <p class="numbers"><%= t("report.p8") %><br>
      <strong
        data-count-up-animation-target="number"
        data-target="<%= @avg_height %>"
        data-decimals="1">0</strong> m
    </p>
  </div>
  <div class="mt-3 d-flex justify-content-around">
      <p class="numbers"><%= t("report.p9") %><br><strong data-count-up-animation-target="number" data-target="<%= @gender_counts["female"] || 0 %>">0</strong></p>
      <p class="numbers"><%= t("report.p10") %><br><strong data-count-up-animation-target="number" data-target="<%= @gender_counts["male"] || 0 %>">0</strong></p>
      <p class="numbers"><%= t("report.p11") %><br><strong data-count-up-animation-target="number" data-target="<%= @gender_counts["non_binary"] || 0 %>">0</strong></p>
      <p class="numbers"><%= t("report.p12") %><br><strong data-count-up-animation-target="number" data-target="<%= @gender_counts["other"] || 0 %>">0</strong></p>
  </div>
  <div class="mt-3">
    <p class="numbers"><%= t("report.p13") %><br><strong data-count-up-animation-target="number" data-target="<%= @nationalities.size %>">0</strong></p>

    <% @nationalities.sort.each_with_index do |nation, index| %>
      <span style="padding: 3px 6px; font-size: 0.9rem;">
        <%= nation %><%= "," unless index == @nationalities.size - 1 %>
      </span>
    <% end %>
  </div>
  <div class="mt-3 d-flex justify-content-around">
      <p class="numbers"><%= t("report.p14") %><br><strong data-count-up-animation-target="number" data-target="<%= @accepted %>">0</strong></p>
      <p class="numbers"><%= t("report.p15") %><br><strong data-count-up-animation-target="number" data-target="<%= @rejected %>>">0</strong></p>
  </div>
  <%= link_to t("report.btn"), download_rapport_path, class: "btn btn-primary", target: "_blank" %>
  <div class="card-image">
    <img src="https://www.tanzimaugust.de/fileadmin/TiA/_processed_/f/3/csm_4_Ballet_de_l’Opéra_de_Lyon_Mycelium_c_Agathe_Poupeney_18f02ec2f6.jpg" alt="Audition Image">
  </div>
</div>
