<div class="devise_container">
  <h2><%= t("devise.registrations.new.h2") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: t("devise.registrations.new.email"),
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: t("devise.registrations.new.password"),
                  hint: (@minimum_password_length ? "#{@minimum_password_length} #{t('devise.registrations.new.hint')}" : nil ),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: t("devise.registrations.new.password_confirmation"),
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise.registrations.new.btn_submit"), class:"submit-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
