<article <article
  id="votes_<%= application.id %>"
  class="style1 tile <%= 'confirmed' if application.status_published && application.confirmed_attendance %><%= 'not-confirmed' if application.status_published && !application.confirmed_attendance %>">

  <!-- Display vote result if status is published -->
  <% unless application.status_published %>
    <div class="text-center m-auto pb-3" style="background-color: #222; color: #fff;width:60%; padding: 5px;z-index: 1000 !important;">
      <%= application.vote_result %>
    </div>
  <% end %>
  <!-- Profile Image -->
  <span class="image">
    <% if application.profile_image.present? %>
      <%= image_tag(application.profile_image) %>
    <% else %>
      <%= cl_image_tag application.photo.key %>
    <% end %>
  </span>

  <!-- Load show view dynamically in a Turbo Frame -->
  <a href="<%= audition_application_path(application) %>" data-turbo-frame="_top">
    <h3 id="text-tiles"><%= application.first_name %> <%= application.last_name %></h3>
    <br>
    <h5><%= application.nationality %></h5>
    <div class="content">
      <h5><%= application.status %></h5>
    </div>
  </a>

  <% unless application.status_published %>
    <% if current_user.admin? || current_user.director? || current_user.guest? %>
      <div class="status-buttons d-flex justify-content-center">
        <% ['accepted', 'rejected'].each do |status| %>
          <%= form_with model: application, url: audition_application_path(application), method: :patch do |f| %>
            <%= hidden_field_tag :audition_application_status, status %>
            <%= f.button type: :submit, class: "button_status button_status--#{status} mx-1" do %>
              <span><%= status == 'accepted' ? t('dashboard.status_change.accept') : t('dashboard.status_change.reject') %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</article>
