<div class="confirm_attendance_container" data-controller="toggle-form">
  <h1><%= t("confirm_attendance.title") %></h1>

  <p><%= t("confirm_attendance.text") %></p>

  <%= form_with url: update_attendance_audition_application_path(@application), method: :patch do |form| %>
    <%= form.submit t("confirm_attendance.btn.confirm_attendance"), class: "submit-button" %>
  <% end %>

  <p><%= t("confirm_attendance.text2").html_safe %></p>

  <!-- Toggle Button -->
  <button data-action="click->toggle-form#toggle" class="btn btn-primary mt-3">
    <%= t("confirm_attendance.btn.message").html_safe %>
  </button>

  <!-- The Form, initially hidden -->
  <div data-toggle-form-target="form" class="hidden">
    <%= form_with url: confirm_attendance_message_audition_application_path(@application), method: :post, class: "form-message", data: { toggle_form_target: "form" } do |form| %>
    <svg viewBox="0 0 24 28" fill="none" id="logo-min--sprite" width="30" height="34" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:20px">
      <title>Opéra de Lyon</title>
      <path d="M0 11.7824V16.576H5.5V11.7824C5.54545 8.288 8.40909 5.4656 12 5.4656C15.5909 5.4656 18.4545 8.288 18.5 11.7824V22.3552H14.8182H5.54546V28H24V11.7824C23.9545 5.2864 18.5909 0 12 0C5.36364 0 0 5.2416 0 11.7824Z" fill="currentColor"></path>
      <path d="M0 16.576V11.7824C0 5.2416 5.36364 0 12 0C18.5909 0 23.9545 5.2864 24 11.7824V28H5.54546V22.3552H14.8182H18.5V11.7824C18.4545 8.288 15.5909 5.4656 12 5.4656C8.40909 5.4656 5.54545 8.288 5.5 11.7824V16.576H0Z" fill="currentColor"></path>
    </svg>
      <div class="field">
        <%= form.label :name, t("confirm_attendance.form.contact.name") %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email, t("confirm_attendance.form.contact.email") %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :message, t("confirm_attendance.form.contact.message") %>
        <%= form.text_area :message %>
      </div>

      <%= form.submit t("confirm_attendance.form.contact.send"), class:"submit-button" %>
    <% end %>
  </div>
</div>
</div>
