<div class="m-auto mt-3 mb-3" style="width:70%;">
  <h2>Modifier la candidature</h2>

  <%= simple_form_for(@application, method: :patch) do |f| %>
    <%= f.input :first_name, label: "Prénom", required: true %>
    <%= f.input :last_name, label: "Nom de famille", required: true %>
    <%= f.input :date_of_birth, as: :date, label: "Date de naissance", required: true, start_year: 1900, end_year: Date.today.year %>
    <%= f.input :address, label: "Address", required: true %>
    <%= f.input :nationality, label: "Nationalité", required: true %>
    <%= f.input :height, label: "Taille", required: true %>
    <%= f.input :gender, collection: ["male", "female", "non-binary", "other"], selected: @application.gender %>
    <%= f.hidden_field :status, value: @application.status %>
    <%= f.input :video_link, label: "Lien vers la vidéo", required: true %>
    <div class="custom-file-container">
      <div class="custom-file">
        <label for="cv-upload" class="custom-file-label">Upload CV</label>
        <span id="cv-file-name"><%= @application.cv.present? ? @application.cv.filename : "No file chosen" %></span>
        <%= f.input :cv, as: :file, required: false,
                      input_html: { class: "custom-file-input", id: "cv-upload", onchange: "updateFileName(this, 'cv-file-name')" },
                      accept: "application/pdf",
                      label: false %>
      </div>

      <div class="custom-file">
        <label for="profile-image-upload" class="custom-file-label">Upload Photo</label>
        <span id="profile-image-file-name"><%= @application.profile_image.present? ? @application.profile_image.filename : "No file chosen" %></span>
        <%= f.input :profile_image, as: :file, required: false,
                      input_html: { class: "custom-file-input", id: "profile-image-upload", onchange: "updateFileName(this, 'profile-image-file-name')" },
                      accept: "image/png, image/jpeg, image/gif",
                      label: false %>
      </div>
    </div>

    <%= f.button :submit, 'Enregistrer les modifications', class: "submit-button" %>
  <% end %>
</div>
