<div class="show-container">
  <h1 class="text-h1"><%= @application.first_name %> <%= @application.last_name %></h1>
  <div class="d-flex justify-content-around align-items-center">
    <div class="show-info">
      <div class="show-text">
        <div class="show-image">
          <% if @application.profile_image.attached? %>
            <a href="<%= rails_blob_path(@application.profile_image, disposition: 'inline') %>" target="_blank">
              <%= image_tag @application.profile_image, width: 150 %>
            </a>
          <% end %>
        </div>
        <div class="main-info">
          <p class="text-p"><strong>Date of Birth:</strong> <%= @application.date_of_birth %></p>
          <p class="text-p"><strong>Nationality:</strong> <%= @application.nationality %></p>
          <p class="text-p"><strong>Height:</strong> <%= @application.height %> cm</p>
          <p class="text-p"><strong>Gender:</strong> <%= @application.gender.humanize %></p>
          <p class="text-p"><strong>Status:</strong> <%= @application.status.humanize %></p>
        </div>
      </div>
      <div  class="show-video">
        <% if @application.video_link.present? %>
          <iframe  src="<%= youtube_embed_url(@application.video_link) %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </div>
    </div>

  </div>

  <div class="cv">
    <% if @application.cv.attached? %>
      <% if @application.cv.attached? %>
        <%= link_to rails_blob_path(@application.cv, disposition: "inline"), class:"button" do %>
          <span>View CV</span>
        <% end %>
      <% else %>
        <p>No CV uploaded</p>
      <% end %>
    <% end %>
  </div>
  <% if current_user.admin?%>
    <!-- Change Status with Buttons -->
    <div class="status-buttons d-flex justify-content-around mt-5" data-controller="confirmation">
      <%= button_to 'Accepted', update_status_audition_application_path(@application, status: 'accepted'),
          method: :patch, class: 'btn btn-success', data: { action: "confirmation#confirm", confirm_message: "Are you sure you want to accept this application?" } %>

      <%= button_to 'Pending', update_status_audition_application_path(@application, status: 'pending'),
          method: :patch, class: 'btn btn-warning' %>

      <%= button_to 'Rejected', update_status_audition_application_path(@application, status: 'rejected'),
          method: :patch, class: 'btn btn-danger', data: { action: "confirmation#confirm", confirm_message: "Are you sure you want to reject this application?" } %>
    </div>
  <% else %>
    <div>
      <%= link_to edit_audition_application_path(@application), class:"link text-h3" do %>
        <span>Edit my form</span>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Back", audition_applications_path, class:"link text-h3" %>
</div>
