<div class="show-container">
  <h1 class="text-h1-show"><%= @application.first_name %> <%= @application.last_name %></h1>
  <div class="show-content">
    <div class="show-info">
      <div class="show-text">
        <div class="show-image">
          <% if @application.profile_image.attached? %>
            <% if Rails.env.production? %>
              <a href="<%= @application.profile_image.url %>" target="_blank">
                <%= cl_image_tag @application.profile_image.key, width: 150 %>
              </a>
            <% else %>
              <%= image_tag url_for(@application.profile_image), width: 150 %>
            <% end %>
          <% end %>
        </div>
        <div class="main-info">
          <p class="body_p_show"><strong>Date of Birth:</strong> <%= @application.date_of_birth %></p>
          <p class="body_p_show"><strong>Nationality:</strong> <%= @application.nationality %></p>
          <p class="body_p_show"><strong>Address:</strong> <%= @application.address.present? ? @application.address : " "  %></p>
          <p class="body_p_show"><strong>Height:</strong> <%= @application.height %> cm</p>
          <p class="body_p_show"><strong>Gender:</strong> <%= @application.gender.humanize %></p>
          <p class="body_p_show"><strong>Status:</strong> <%= @application.status.humanize %></p>

          <% if current_user.admin? || current_user.director? %>
            <p class="body_p_show"><strong>Ethnicity:</strong> <%= @application.ethnicity ? @application.ethnicity.name : "Unset" %></p>
          <% end %>

        </div>
      </div>
      <div  class="show-video">
        <% if @application.video_link.present? %>
          <iframe  src="<%= youtube_embed_url(@application.video_link) %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </div>
    </div>
  </div>

  <div class="cv">
    <% if @application.cv.attached? %>
      <% if @application.cv.attached? %>
        <%= link_to rails_blob_path(@application.cv, disposition: "inline"), class:"button" do %>
          <span>View CV</span>
        <% end %>
      <% else %>
        <p>No CV uploaded</p>
      <% end %>
    <% end %>
  </div>
  <% if current_user.admin? || current_user.director?%>
    <!-- Change Vote with Buttons -->
    <div class="votes-show">
      <% if current_user.director? %>
        <%= form_with url: audition_application_votes_path(@application), method: :post do |f| %>
          <%= hidden_field_tag :value, "star" %>
          <%= button_tag type: :submit, class: "btn-vote btn-star", title: "Star" do %>
            <span class="material-symbols-outlined">
              star
            </span>
          <% end %>
        <% end %>
      <% end %>
      <%= form_with url: audition_application_votes_path(@application), method: :post do |f| %>
        <%= hidden_field_tag :value, "yes" %>
        <%= button_tag type: :submit, class: "btn-vote btn-yes", title: "Yes" do %>
          <span class="material-symbols-outlined">
            check
          </span>
        <% end %>
      <% end %>

      <%= form_with url: audition_application_votes_path(@application), method: :post do |f| %>
        <%= hidden_field_tag :value, "maybe" %>
        <%= button_tag type: :submit, class: "btn-vote btn-maybe", title: "Maybe" do %>
          <span style="font-size: 1.5rem;font-weight: 300;">
            ?
          </span>
        <% end %>
      <% end %>

      <%= form_with url: audition_application_votes_path(@application), method: :post do |f| %>
        <%= hidden_field_tag :value, "no" %>
        <%= button_tag type: :submit, class: "btn-vote btn-no", title: "No" do %>
          <span class="material-symbols-outlined">
            close
          </span>
        <% end %>
      <% end %>

    </div>
    <div>

    <!-- Change Ethnicity -->
    <div class="ethnicity-form">
      <%= simple_form_for(@application) do |f| %>
        <%= f.input :ethnicity_id, collection: Ethnicity.all.collect { |e| [e.name, e.id] }, prompt: "Select Ethnicity" %>
        <%= f.button :submit, 'Set Ethnicity', class: "submit-button" %>
      <% end %>
    </div>

    </div>
  <% else %>
    <div>
      <%= link_to edit_audition_application_path(@application), class:"link" do %>
        <span>Edit my form</span>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Back", audition_applications_path, class:"link" %>
  <% if current_user&.admin? || current_user&.director? %>
    <div>
      <a href="mailto:<%=@application.user.email%>" class="link">Contact user</a>
    </div>
  <% end %>
</div>
