<div class="devise_container">
  <h2><%= t("devise.passwords.new.h2") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: t("devise.passwords.new.email"),
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t("devise.passwords.new.btn_submit"), class:"submit-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
