<div class="main_container_final_step" data-controller="count-up-animation">
  <div class="container_central">
    <h1><%= t("final_step.h1") %></h1>
    <p><%= t("final_step.p1") %></p>
    <p><%= t("final_step.p2") %></p>
    <div class="mt-5">
      <p class="numbers"><%= t("final_step.tot_cand") %><br>
        <strong data-count-up-animation-target="number" data-target="<%= @applications.count %>">0</strong>
      </p>
      <div class="cards">
        <p class="numbers-flex"><%= t("final_step.rejected_cand") %><br>
          <strong data-count-up-animation-target="number" data-target="<%= @rejected_applications.count %>">0</strong>
        </p>

        <p class="numbers-flex"><%= t("final_step.accepted_cand") %><br>
          <strong data-count-up-animation-target="number" data-target="<%= @accepted_applications.count %>">0</strong>
        </p>

        <p class="numbers-flex"><%= t("final_step.pending_cand") %><br>
          <strong data-count-up-animation-target="number" data-target="<%= @pending_applications.count %>">0</strong>
        </p>
      </div>
    </div>
    <%= button_to t("final_step.notify_all_candidates"),
                  send_results_audition_applications_path,
                  method: :post,
                  data: { confirm: "Are you sure you want to notify all candidates now?", turbo_confirm: t("final_step.confirm_button") },
                  class: "submit-button mt-5"%>

    <div class="card-image">
      <img src="https://www.tanzimaugust.de/fileadmin/TiA/_processed_/f/3/csm_4_Ballet_de_l’Opéra_de_Lyon_Mycelium_c_Agathe_Poupeney_18f02ec2f6.jpg" alt="Audition Image">
    </div>
  </div>
</div>
