<p>Total applications: <%= @applications.count %></p>
<p>Rejected applications: <%= @rejected_applications.count %> / <%= @applications.count %></p>
<p>Accepted applications: <%= @accepted_applications.count %> / <%= @applications.count %></p>
<p>Pending applications: <%= @pending_applications.count %> / <%= @applications.count %></p>
