<div class="container mt-3">
  <h1 class="text-center"><%= t('invited_candidates.h1') %></h1>
  <%= form_with url: invited_candidates_path, method: :get, local: true, data: { turbo_frame: "invited_list" }, class: "filter-form mb-3" do %>
  <div class="filter-show">
    <div class="filter-field">
      <%= label_tag :confirmed_attendance, t('invited_candidates.filter_by_attendance') %>
      <%= select_tag :confirmed_attendance,
            options_for_select([
              ["All", ""],
              ["Confirmed", "true"],
              ["Not Confirmed", "false"]
            ], params[:confirmed_attendance]),
            class: "form-control",
            onchange: "this.form.requestSubmit();" %>
    </div>
  </div>
  <% end %>
  <!-- Applications List -->
  <turbo-frame id="invited_list">
    <div class="text-center">
        <p> <%= @audition_applications.count %>/<%= AuditionApplication.where(status:'accepted', status_published:true).count %></p>
    </div>
    <section class="tiles-index my-4">
      <% @audition_applications.each do |application| %>
        <article class="style1 tile <%= 'confirmed' if application.status_published && application.confirmed_attendance %> <%= 'not-confirmed' if application.status_published && !application.confirmed_attendance %>">
          <span class="image">
            <% if application.profile_image.present? %>
              <%= image_tag(application.profile_image) %>
            <% else %>
              <%= cl_image_tag application.photo.key %>
            <% end %>
          </span>

          <a href="<%= audition_application_path(application) %>" target="_top">
            <h3 id="text-tiles"><%= application.first_name %> <%= application.last_name %></h3>
            <br>
            <h5><%= application.nationality %></h5>
            <div class="content">
              <h5><%= application.height %>m</h5>
            </div>
          </a>

          <% unless application.status != 'pending' %>
            <% if current_user.admin? || current_user.director? %>
              <div class="votes">
                <% ['yes', 'maybe', 'no'].each do |vote| %>
                  <%= form_with url: audition_application_votes_path(application), method: :post do %>
                    <%= hidden_field_tag :value, vote %>
                    <%= submit_tag "", class: "btn-vote btn-#{vote}", title: vote.capitalize %>
                  <% end %>
                <% end %>

                <% if current_user.director? %>
                  <%= form_with url: audition_application_votes_path(application), method: :post do %>
                    <%= hidden_field_tag :value, 'star' %>
                    <%= submit_tag "", class: "btn-vote btn-star", title: "Star" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </article>
      <% end %>
    </section>
  </turbo-frame>
</div>
