<h2><%= t("guide.admin.h2") %></h2>

<p>
  <%= t("guide.admin.p1") %>
</p>

<h4 class="mt-5"><%= t("guide.admin.h41") %></h4>

<p>
  <%= t("guide.admin.p2") %>
</p>

<%= t("guide.admin.ul1").html_safe %>

<div class="help-images  my-5">
  <%= image_tag "homepage.png" %>
  <%= image_tag "index.png" %>
</div>

<h4 class="mt-5"><%= t("guide.admin.h42") %></h4>

<p>
  <%= t("guide.admin.p3") %>
</p>

<%= t("guide.admin.ul2").html_safe %>

<div class="help-images  my-5">
  <%= image_tag "show.png" %>
</div>

<h4 class="mt-5">  <%= t("guide.admin.h43") %></h4>

<p>
  <%= t("guide.admin.p4") %>
</p>

<div class="dashboard-help">
  <div class="px-3" style="max-width: 500px;">
    <h5 class="mt-4 text-center"><%= t("guide.admin.h51") %></h5>
    <p>
      <%= t("guide.admin.p5") %>
    </p>
    <p>
      <%= t("guide.admin.p6") %>
    </p>
    <%= t('guide.admin.ul3').html_safe %>
    <p>
      <%= t("guide.admin.p7") %>
    </p>
    <div class="help-images  my-5">
      <%= image_tag "dashboard-table.png" %>
    </div>
  </div>
  <div class="px-3" style="max-width: 500px;">
    <h5 class="mt-4 text-center"><%= t("guide.admin.h52") %></h5>
    <p>
      <%= t("guide.admin.p8") %>
    </p>
    <p>
      <%= t("guide.admin.p9") %>
    </p>
    <%= t('guide.admin.ul4').html_safe %>
    <div class="help-images">
      <%= image_tag "dashboard-tiles.png" %>
    </div>
  </div>
</div>

<h4 class="mt-5"><%= t('guide.admin.h44') %></h4>

<p>
  <%= t('guide.admin.p10') %>
</p>

<%= t('guide.admin.ul5').html_safe %>

<p>
  <%= t('guide.admin.p11') %>
</p>

<h5 class="mt-4 text-center">
  <%= t('guide.admin.h53').html_safe %>
</h5>

<p>
  <%= t('guide.admin.p12') %>
</p>

<%= t('guide.admin.ul6').html_safe %>

<p>
  <%= t('guide.admin.p13') %>
</p>

<div class="help-images">
  <%= image_tag "final-step.png" %>
</div>

<h4 class="mt-5"><%= t('guide.admin.h45') %></h4>

<p>
  <%= t('guide.admin.p14') %>
</p>

<h5 class="text-center mt-4"><%= t('guide.admin.h54') %></h5>

<p>
  <%= t('guide.admin.p15') %>
</p>

<%= t('guide.admin.ul7').html_safe %>

<p>
  <%= t('guide.admin.p16') %>
</p>

<h5 class="mt-4 text-center"><%= t('guide.admin.h55') %></h5>

<p>
  <%= t('guide.admin.p17') %>
</p>

<p>
  <%= t('guide.admin.p18') %>
</p>
<div class="help-images">
  <%= image_tag "report.png" %>
</div>
