<h2 class="mb-4">Candidate User Guide</h2>
<p>
  This guide will help you navigate the audition application process for the
  Ballet de l'Opéra de Lyon.
  Follow these steps to ensure a smooth application experience.
</p>

<h4 class="mt-5">Create Your Account</h4>
<p>
  To begin, you must create an account using a valid email address where you can easily be contacted.
  Choose a secure password that you will remember.<br>
  Your account will allow you to save and manage your audition application.
</p>

<!-- Here you can insert an image showing the signup form -->
<div class="help-sign_up-images my-5">
  <%= image_tag "sign_up_fr.png" %>
</div>

<h4 class="mt-5">Fill Out the Application Form</h4>
<p>
  After creating your account, complete the audition application form.
  Please provide accurate and detailed information:
</p>

<ul style="text-align: justify; color:rgb(200, 200, 200);">
  <li>Your personal information</li>
  <li>A YouTube link showing your performance. Make sure to follow this format: https://www.youtube.com/</li>
  <li>Your CV (Curriculum Vitae) or Resume (file upload)</li>
  <li>A profile image (professional headshot preferred)</li>
</ul>

<!-- Here you can insert an image showing the form fields -->
<div class="help-video-container my-5">
  <%= video_tag asset_path("form_fill.mp4"), autoplay: true, loop: true, muted: true, controls: false %>
</div>

<p style="text-align: justify; color:rgb(200, 200, 200);">
  Once you have filled out the form, you can review your application.
  Double-check all your information for accuracy.
</p>

<h4 class="mt-5">Edit Your Application if Needed</h4>
<p style="text-align: justify; color:rgb(200, 200, 200);">
  If you realize you made a mistake after submitting your application,
  you can log back into your account and edit your form.<br>
  Make sure all your information is correct before the application deadline.
</p>

<div class="help-edit-container">
  <%= image_tag "form_edit.png" %>
</div>

<!-- Here you can insert an image showing the 'Edit Application' button -->

<h4 class="mt-5">Wait for the Application Result</h4>
<p>
  After submitting, the administration team will review all applications.
  You will receive an email informing you whether you have been accepted to audition.<br>
  Please be patient during this review process.
</p>

<h4 class="mt-5">If You Are Accepted</h4>
<p>
  If your application is successful, you will receive an invitation to confirm your attendance at the audition.<br>
  Please follow the instructions provided carefully to confirm your participation.
</p>

<div class="help-sign_up-images  my-5">
  <%= image_tag "confirm1.png" %>
  <%= image_tag "confirm2.png" %>
</div>
<p>
  In case you do not make it the day of the audition, you can let us know by clicking the "I can’t make it to the audition"
  button.<br>
  Please let us know the reason for your absence. We will take this into account and see if we can reschedule your audition.
</p>

<!-- Insert an image example of acceptance email or confirmation button -->

<h4 class="mt-5">If You Are Not Accepted</h4>
<p>
  If your application is unfortunately not selected, you will also be notified by email.<br>
  We encourage you to continue working on your craft and to reapply for future opportunities.
</p>
