<h2 class="mb-4"><%= t('guide.candidate.h2') %></h2>
<p>
  <%= t('guide.candidate.p1') %>
</p>

<h4 class="mt-5"><%= t('guide.candidate.h41') %></h4>
<p>
  <%= t('guide.candidate.p2').html_safe %>
</p>

<!-- Here you can insert an image showing the signup form -->
<div class="help-images my-5">
  <%= image_tag "sign_up_fr.png" %>
</div>

<h4 class="mt-5"><%= t('guide.candidate.h42') %></h4>
<p>
  <%= t('guide.candidate.p3') %>
</p>

<%= t('guide.candidate.ul1').html_safe %>

<!-- Here you can insert an image showing the form fields -->
<div class="help-video-container my-5">
  <%= video_tag asset_path("form_fill.mp4"), muted: true, controls: true %>
</div>

<p style="text-align: justify; color:rgb(200, 200, 200);">
  <%= t('guide.candidate.p4') %>
</p>

<h4 class="mt-5"><%= t('guide.candidate.h42') %></h4>
<p style="text-align: justify; color:rgb(200, 200, 200);">
  <%= t('guide.candidate.p5').html_safe %>
</p>

<div class="help-images">
  <%= image_tag "form_edit.png" %>
</div>

<!-- Here you can insert an image showing the 'Edit Application' button -->

<h4 class="mt-5"><%= t('guide.candidate.h43') %></h4>
<p>
  <%= t('guide.candidate.p6').html_safe %>
</p>

<h4 class="mt-5"><%= t('guide.candidate.h44') %></h4>
<p>
  <%= t('guide.candidate.p7').html_safe %>
</p>

<div class="help-images  my-5">
  <%= image_tag "confirm1.png" %>
  <%= image_tag "confirm2.png" %>
</div>
<p>
  <%= t('guide.candidate.p8').html_safe %>
</p>

<!-- Insert an image example of acceptance email or confirmation button -->

<h4 class="mt-5"><%= t('guide.candidate.h45') %></h4>
<p>
  <%= t('guide.candidate.p9').html_safe %>
</p>
