<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Audition Ballet de l' Opéra Lyon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <%# Code below prevents Turbo from caching the page %>
    <%= tag.meta name: "turbo-cache-control", content: "no-cache" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
